@import '../../../shared/theme/variables.module';

.tariffCard {
  background-color: $dark-secondary-color;
  border: 2px solid $dark-secondary-color;
  border-radius: 16px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  color: white;

  h4 {
    color: $dark-secondary-color;
    font-weight: 600;
  }

  .spotifyLogo {
    display: flex;
    align-items: center;

    p {
      margin-left: 10px;
      display: inline-block;
      vertical-align: center;
      font-size: 18px;
    }
  }

  .tariffOverview {
    margin-top: 20px;
    margin-bottom: 30px;

    h2 {
      font-size: 40px;
    }
  }

  .features {
    margin-top: 20px;
    height: 150px;

    ul {
      margin-left: 20px
    }

    li {
      &::marker {
        color: white;
      }
    }
  }

  .actions {
    button {
      font-size: 18px;
      border-radius: 16px;
      width: 100%;
      height: 50px;
      transition: 0.2s ease-out;
      cursor: pointer;
      border: none;

      h4 {
        line-height: 15px;
      }

      &:hover {
        filter: brightness(65%);
      }
    }

    p {
      margin-top: 15px;
      color: $secondary-color;
      text-align: center;

      a {
        color: $secondary-color
      }
    }
  }
}

.selected {
  border: 2px solid $primary-color;
  transition: 0.2s ease-in;

}

@media (max-width: 1024px) {
  .tariffCard {
    .tariffOverview {
      h2 {
        font-size: 24px;
      }
    }

    .features {
      li {
        font-size: 14px;
        &::marker {
          color: white;
        }
      }
    }
  }

  .actions {
    button {
      h4{
        font-size: 14px;
      }
    }

    p {
      font-size: 14px;
    }
  }
}